.card {
    background-color: var(--surface);
    border-radius: 1.5em;
    padding: 0.25em 0.5em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: start;
    overflow: hidden;

    & h2 {
        margin: 0;
        font-size: 1.5em;
        text-align: center;
    }

    & hr {
        width: 100%;
        min-height: 2px;
        background-color: var(--text);
        border: none;
        margin: 0.25em 0;
    }

    & .card-content {
        flex: 1;
        overflow-y: auto;
        overflow-x: hidden;
        padding: 0.5em;
        display: flex;
        flex-direction: column;
        gap: 0.5em;
    }
}