.zoomable {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;

    &.dragging {
        cursor: grabbing;
        user-select: none;
    }

    .zoomable-content {
        transform-origin: 0 0;
        will-change: transform;
    }
}