.simple-list-card {
    .simple-list-card-items {
        padding-inline-start: 1em;
        margin: 0;
        overflow: auto;
    }

    .simple-list-card-item {
        list-style-type: none;
        position: relative;
    }

    .simple-list-card-item::before {
        content: "–";
        position: absolute;
        left: -1em;
    }

    .simple-list-card-input-wrapper {
        position: relative;
        display: inline-block;
    }

    .error-icon {
        position: absolute;
        right: 8px;
        top: 50%;
        transform: translateY(-50%);
        pointer-events: none;
        /* icon won't block input clicks */
        font-size: 16px;
        color: red;
    }

    .simple-list-card-new-item-input.invalid {
        background-color: orangered;
    }
}